<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
<title>CA</title>

<!--Stylesheet-->
<link href="fonts/fonts.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/nice-select.css" rel="stylesheet">
<link href="css/jquery.mCustomScrollbar.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<!--Stylesheet-->

</head>
<body class="">

    <div class="404-page">
        <div class="error_page flxrow">
            <div class="imgbox"><img src="images/404-img.svg" alt=""></div>
        </div>
    </div>

<!--JavaScript-->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<!-- <script src="js/popper.min.js"></script> -->
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.js"></script>
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="js/developer-chart.js"></script>
<script src="js/script.js"></script>
<!--JavaScript-->

</body>
</html>