<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
<title>CA</title>

<!--Stylesheet-->
<link href="fonts/fonts.css" rel="stylesheet">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/nice-select.css" rel="stylesheet">
<link href="css/jquery-ui.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/style-v3.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<!--Stylesheet-->

</head>
<body>

<!-- Header ST -->
<header id="header">
    <div class="header_wrapper flxrow">
        <div class="ham_menubtn">
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <div class="logo"><a href="index.html"><img src="images/logo.svg" alt="logo"></a></div>
        <div class="header_breadcrumb">
            <ul>
                <li><a href="#">Home</a></li>
                <li>Profile</li>
            </ul>
        </div>
        <div class="user_login flxrow">
            <a href="#">
                <div class="img" style="background-image:url(images/user-img.png);"></div>
                <div class="name">
                    <p>Alexander <span>Admin</span></p>
                    <div class="down-caret">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 7.5L10 12.5L15 7.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </a>
            <div class="user_dropdown">
                <ul>
                    <li><a href="#">Profile <span><img src="images/profile-icon.svg" alt="profile icon"></span></a></li>
                    <li><a href="#">Keyboard Shortcuts <span><img src="images/shortcut-icon.svg" alt="shortcut icon"></span></a></li>
                    <li><a href="#">Logout <span><img src="images/logout-icon.svg" alt="logout icon"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Header ED -->

<!--Wrapper Start-->
<div class="wrapper_main">
    <div class="page-wrapper admin-edit-page">
        <div class="page-title d-flex flex-wrap align-items-center justify-content-between">
            <h1>Alexander</h1>
        </div>
        <div class="page-block">
            <div class="admin-edit-form">
                <form>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-input">
                                <input class="input-text" type="text" placeholder="Username*">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-input">
                                <input class="input-text" type="text" placeholder="Name*">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-input">
                                <input class="input-text" type="email" placeholder="Email*">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-input">
                                <input class="input-text" type="password" placeholder="Password*">
                                <div class="icon"></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-input">
                                <input class="input-text" type="password" placeholder="Conform password*">
                                <div class="icon"></div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-submit">
                                <input class="primary_btn" type="submit" value="Submit">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Wrapper End-->

<!--JavaScript-->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.js"></script>
<script src="js/script.js"></script>
<!--JavaScript-->

</body>
</html>