{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
    <title>CA</title>

    <!--Stylesheet-->
    {% block custom_css %}
    <link href="{% static 'fonts/fonts.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/nice-select.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-v3.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-v2.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    {% endblock custom_css %}
    <!--Stylesheet-->

</head>

<body>

    <!-- Header ST -->
    <header id="header">
        <div class="header_wrapper flxrow">
            <div class="ham_menubtn">
                <a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="logo"><a href="dashboard"><img src="{% static 'images/logo.svg' %}" alt="logo"></a></div>
            <div class="text_head">
                <ul class="flxrow">
                    <li><a href="#">Clients </a></li>
                    <li class="active"><a href="#">/ Details</a></li>
                </ul>
            </div>

            <div class="user_login flxrow">
                <a href="#">
                    <div class="img" style="background-image:url({% static 'images/user-img.png' %});"></div>
                    <div class="name">
                        <p>{{request.session.username}} <span>{{request.session.type}}</span></p>
                        <div class="down-caret">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M5 7.5L10 12.5L15 7.5" stroke="black" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </a>
                <!-- <div class="user_dropdown">
                <ul>
                    <li><a href="#">Profile <span><img src="images/profile-icon.svg" alt="profile icon"></span></a></li>
                    <li><a href="#">Keyboard Shortcuts <span><img src="images/shortcut-icon.svg" alt="shortcut icon"></span></a></li>
                    <li><a href="#">Logout <span><img src="images/logout-icon.svg" alt="logout icon"></span></a></li>
                </ul>
            </div> -->
            </div>
        </div>
    </header>
    <!-- Header ED -->

    <!--Wrapper Start-->
    <div class="wrapper_main">
        <div class="dash_wrap_inner announcement-page">

            <div class="announcements-main">
                <div class="ann-main-top flxrow">
                    <h3>Announcements</h3>
                    <div class="ann-main-top__dropdown">
                        <a href="#">Sort By Date <span><img src="{% static 'images/drop-down__arrow.svg' %}"
                                    alt=""></span></a>
                        <div class="ann-main-top__dropdown_box flxrow">
                            <a href="#Ascending">Accending <span><img src="{% static 'images/Accending_icon.svg' %}"
                                        alt=""></span></a>
                            <a href="#Descending">Descending <span><img src="{% static 'images/Descending.svg' %}"
                                        alt=""></span></a>
                        </div>
                    </div>
                </div>

                <div class="ann-main-bottom">

                    <div class="ann-main-bottom_wrap">
                        {% for announcement in announcements %}
                        <div class="ann-main__box" data-date="{{announcement.date}}">
                            <h5>{{announcement.title}}</h5>
                            <span id="formatted-date">{{ announcement.date }}</span>
                            <p>{{announcement.message}}</p>
                            <div class="btn-grp flxrow">
                                <div class="btn-box edit_btn">
                                    <a href="javascript:void(0)" class="edit-link"
                                        data-announcement-id="{{announcement.id}}" onclick="openModal()"><svg width="20"
                                            height="20" viewBox="0 0 15 15" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M1.3335 13.6668H4.66683L13.4168 4.91676C13.8589 4.47473 14.1072 3.87521 14.1072 3.25009C14.1072 2.62497 13.8589 2.02545 13.4168 1.58342C12.9748 1.1414 12.3753 0.893066 11.7502 0.893066C11.125 0.893066 10.5255 1.1414 10.0835 1.58342L1.3335 10.3334V13.6668Z"
                                                stroke="#A6ABBD" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
                                    </a>
                                </div>
                                <div class="btn-box delete_btn">
                                    <a href="delete_announcement/{{announcement.id}}">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M3.33337 5.83301H16.6667" stroke="#A6ABBD" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M8.33337 9.16699V14.167" stroke="#A6ABBD" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M11.6666 9.16699V14.167" stroke="#A6ABBD" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path
                                                d="M4.16663 5.83301L4.99996 15.833C4.99996 16.275 5.17555 16.699 5.48811 17.0115C5.80068 17.3241 6.2246 17.4997 6.66663 17.4997H13.3333C13.7753 17.4997 14.1992 17.3241 14.5118 17.0115C14.8244 16.699 15 16.275 15 15.833L15.8333 5.83301"
                                                stroke="#A6ABBD" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round"></path>
                                            <path
                                                d="M7.5 5.83333V3.33333C7.5 3.11232 7.5878 2.90036 7.74408 2.74408C7.90036 2.5878 8.11232 2.5 8.33333 2.5H11.6667C11.8877 2.5 12.0996 2.5878 12.2559 2.74408C12.4122 2.90036 12.5 3.11232 12.5 3.33333V5.83333"
                                                stroke="#A6ABBD" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                            {% endfor %}


                    </div>

                    <div class="bottom-btn__box flxrow">
                        <div class="add_btn">
                            <a href="javascript:void(0)" class="primary_btn" data-toggle="modal"
                                data-target="#add-announcement">Add<span><img
                                        src="{% static 'images/add-btn_icon(+).svg' %}" alt=""></span></a>
                        </div>
                        <div class="pagenation_btn">
                            <span class="flxrow">
                                <a href="#" class="current">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                            </span>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Modal -->
            <div class="modal fade" id="add-announcement" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="add-announcement__popup">
                            <div class="add-announcement_head">
                                <h3>Add Announcement</h3>
                            </div>
                            <div class="add-announcement_body">
                                <form method="POST" id="announcement-form">
                                    {% csrf_token %}
                                    <div class="form-row"><input type="text" id="title" name="title"
                                            placeholder="Add title"></div>
                                    <div class="form-row"><textarea name="message" id="message" cols="" rows=""
                                            placeholder="Message"></textarea></div>
                                    <div class="btnbox_wrap flxrow">
                                        <div class="form-submit_btn"><input type="submit" class="primary_btn"
                                                value="Submit"></div>
                                        <div class="form-close_btn"><input type="button" class="primary_btn cancle_btn"
                                                data-bs-dismiss="modal" aria-label="Close" value="Close"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->

        </div>
    </div>


    <!--Wrapper End-->

    <!--JavaScript-->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'js/responsive.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <!--JavaScript-->

    <script>

        function formatDate(dateString) {
            var momentDate = moment(dateString, 'MMMM DD, YYYY, h:mm a');
            var formattedDate = momentDate.format('YYYY-MM-DD HH:mm:ss');
            return formattedDate;
          }
          
          const ascendingLink = document.querySelector('.ann-main-top__dropdown_box a[href="#Ascending"]');
          const descendingLink = document.querySelector('.ann-main-top__dropdown_box a[href="#Descending"]');
          
          ascendingLink.addEventListener('click', function () {
            sortAnnouncementsByDate('ascending');
          });
          
          // Add event listener to descending link
          descendingLink.addEventListener('click', function () {
            sortAnnouncementsByDate('descending');
          });
          
          // Function to sort announcements by date
          function sortAnnouncementsByDate(order) {
            // Get the announcements and convert them to an array
            const announcements = Array.from(document.querySelectorAll('.ann-main__box'));
          
            // Sort the announcements based on their date attribute
            announcements.sort(function (a, b) {
              const dateA = moment(formatDate(a.getAttribute('data-date')), 'YYYY-MM-DD HH:mm:ss');
              const dateB = moment(formatDate(b.getAttribute('data-date')), 'YYYY-MM-DD HH:mm:ss');
          
              if (dateA.isValid() && dateB.isValid()) {
                if (order === 'ascending') {
                  return dateA - dateB;
                } else {
                  return dateB - dateA;
                }
              }
            });
          
            // Append the sorted announcements back to the parent element
            const parentElement = document.querySelector('.ann-main-bottom_wrap');
            announcements.forEach(function (announcement) {
              parentElement.appendChild(announcement);
            });
          }
          

        // Click event listener for the edit link
        $('.edit-link').on('click', function () {
            // Get the announcement ID from the data attribute
            var announcementId = $(this).data('announcement-id');

            var actionUrl = '/CAadmin/update-announcement/' + announcementId;
            $('#announcement-form').attr('action', actionUrl);
            // AJAX request
            $.ajax({
                url: '/CAadmin/get-announcement', // Replace with your server endpoint
                method: 'GET',
                data: { id: announcementId },
                success: function (response) {
                    // Populate the modal fields with the received data
                    $('#title').val(response.title);
                    $('#message').val(response.message);

                    // Open the modal
                    openModal();
                },
                error: function () {
                    console.log('Failed to fetch announcement data.');
                }
            });
        });

        // Function to open the modal
        function openModal() {
            $('#add-announcement').modal('show');
        }

        function updateAnnouncementDates() {
            // Get all the announcement date elements
            var dateElements = document.querySelectorAll('#formatted-date');

            // Loop through each element and format the date
            dateElements.forEach(function (element) {
                var date = moment(element.innerText, 'MMMM DD, YYYY, h:mm a');
                var currentDate = moment(); // Get the current date and time
                var minutesAgo = currentDate.diff(date, 'minutes'); // Calculate the difference in minutes
                var formattedDate = minutesAgo + ' minutes ago';
                if (minutesAgo < 1) {
                    var secondAgo = currentDate.diff(date, 'second'); // Calculate the difference in minutes
                    formattedDate = secondAgo + ' seconds ago';
                }
                else if (minutesAgo < 60) {
                    formattedDate = minutesAgo + ' minutes ago';
                }
                else {
                    if (minutesAgo < 1440) {
                        var hoursAgo = Math.floor(minutesAgo / 60);
                        formattedDate = hoursAgo + ' hours ago';
                    }
                    else {
                        var daysAgo = Math.floor(minutesAgo / 1440);
                        formattedDate = daysAgo + ' days ago';
                    }
                }

                // Replace the inner text of the element with the formatted date
                element.innerText = formattedDate;
            });
        }

        // Call the function initially
        updateAnnouncementDates();

        // Call the function every 1 minute
    </script>
</body>

</html>