{% load static %}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
<title>CA</title>

<!--Stylesheet-->
{% block custom_css %}
<link href="{% static 'fonts/fonts.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/nice-select.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/style-v3.css' %}" rel="stylesheet">
<link href="{% static 'css/style-v2.css' %}" rel="stylesheet">
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
{% endblock custom_css %}

<!--Stylesheet-->

</head>
<body>

<!-- Header ST -->
<header id="header">
    <div class="header_wrapper flxrow">
        <div class="ham_menubtn">
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <div class="logo"><a href="index.html"><img src="{% static 'images/logo.svg' %}" alt="logo"></a></div>
        <div class="header_breadcrumb">
            <ul>
                <li><a href="#">Home</a></li>
                <li>Profile</li>
            </ul>
        </div>
        <div class="user_login flxrow">
            <a href="#">
                <div class="img" style="background-image:url({% static 'images/user-img.png' %});"></div>
                <div class="name">
                    <p>{{request.session.username}} <span>{{request.session.type}}</span></p>
                    <div class="down-caret">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 7.5L10 12.5L15 7.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </a>
            <div class="user_dropdown">
                <ul>
                    <li><a href="#">Profile <span><img src="{% static 'images/profile-icon.svg' %}" alt="profile icon"></span></a></li>
                    <li><a href="#">Keyboard Shortcuts <span><img src="{% static 'images/shortcut-icon.svg' %}" alt="shortcut icon"></span></a></li>
                    <li><a href="#">Logout <span><img src="{% static 'images/logout-icon.svg' %}" alt="logout icon"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Header ED -->

<!--Wrapper Start-->
<div class="wrapper_main">
    <div class="page-wrapper employee-create">
        <div class="page-title d-flex flex-wrap align-items-center justify-content-between">
            <h2>Employee details</h2>
        </div>
        
        <div class="page-block">
            <div class="admin-edit-form">
                <form method="POST">
                    {% csrf_token %}
                    {% if message != None %}
                    <div class="alert alert-danger">
                        {{message}}
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-input">
                                <label for="username">Username</label>
                                <input class="input-text" type="text" name="username" value="{{employee.username}}" placeholder="Username*">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-input">
                                <label for="name">Name</label>
                                <input class="input-text" type="text" name="name" value="{{employee.name}}" placeholder="Name*">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-input">
                                <label for="email">Email</label>
                                <input class="input-text" type="email" name="email" value="{{employee.email}}" placeholder="Email*">
                            </div>
                        </div>
                        
                        <a href="javascript:void(0)" onclick="openModal()"class="modal_personal_file">
                            Change Password 
                        </a>
                        <div class="col-lg-12">
                            <div class="form-submit">
                                <input class="primary_btn" type="submit" value="Submit">
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Wrapper End-->
<div class="modal fade modal_cat_add modal_change_password" id="modal_change_password" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body admin-edit-form ">
                <form id="myForm" action="/CAadmin/change_employee_password/{{employee.id}}" method="POST">
                    {% csrf_token %}
                    <div class="form_row">
                        
                        <div class="form_col_1-2">
                            <div class="input_container form-input">
                                <input type="password" required name="password" id="password" placeholder="password" class="input_field"></textarea>
                                <div class="icon"></div>
                            </div>
                        </div>
                        <div class="form_col_1-2">
                            <div class="input_container form-input">
                                <input type="password" required name="c_password" id="c_password" placeholder="Confirm Password" class="input_field"></textarea>
                                <div class="icon"></div>
                            </div>
                        </div>
                        <div class="form_submit flxrow">
                            <input type="submit" value="Submit" class="primary_btn">
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--JavaScript-->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script>
    function openModal() {
        // Open the modal for personal file
        $('#modal_change_password').modal('show');
      }
      
      document.getElementById('myForm').addEventListener('submit', function(event) {
        console.log("hi");
        var password = document.getElementById('password').value;
        var confirm_password = document.getElementById('c_password').value;

        if (password !== confirm_password) {
            event.preventDefault(); // Prevent form submission
            alert("Password and Confirm Password do not match.");
        }
    });
</script>
<!--JavaScript-->

</body>
</html>